body {
  background-image: url("http://localhost:3000/background-stars.svg");                                 
  background-color: $main-dark;
  color: $main-light;
}

h1 {
  font-family: 'Antonio';
  font-weight: normal;
  font-size: 28px;
}

path {
  fill: $trasparent-dark
}

.main-header {
  
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid $trasparent-dark;
  }

  nav {
    height: 0;
    overflow: hidden;
    transition: height 300ms linear 0s;
  }

  .show-menu {
    height: 100vh;
  }

  ul { 
    padding: 24px 24px;
  }

  li {
    position: relative;
    width: 100%;
  }
  a {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 24px 0;
    padding-left: 34px;
    font-family: 'Spartan';
    font-size: 15px;
    font-weight: bold;
    color: $main-light;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid  $trasparent-dark;
  }

  a:before {
    content: "";
    position: absolute;
    left: 0px;
    height: 20px;
    width: 20px;
    transform: translateY(-20%);
    border-radius: 50%;
  }

  a:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    // background-color: #fff;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("http://localhost:3000/icon-chevron.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  li:nth-child(1) a:before {
    background-color:  #DEF4FC;
  }

  li:nth-child(2) a:before {
    background-color: #F7CC7F;
  }

  li:nth-child(3) a:before {
    background-color: #545BFE;
  }

  li:nth-child(4) a:before {
    background-color: #FF6A45;
  }

  li:nth-child(5) a:before {
    background-color: #ECAD7A;
  }

  li:nth-child(6) a:before {
    background-color: #FCCB6B;
  }

  li:nth-child(7) a:before {
    background-color: #65F0D5;
  }

  li:nth-child(8) a:before {
    background-color: #497EFA;
  }

  li:nth-child(8) {

    a {
      border-bottom: none;
    }
  }

}

