@font-face {
  font-family: "Antonio";
  src: local("Antonio-Medium"),
    url("../../fonts/Antonio-Medium.ttf") format("truetype");
  font-weight: medium;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Regular"),
    url("../../fonts/Spartan-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Spartan";
  src: local("Spartan-Bold"),
    url("../../fonts/Spartan-Bold.ttf") format("truetype");
  font-weight: bold;
}

