$main-light: #fff;
$main-dark: #070724;
$bakcground-blue: #070724;
$trasparent-dark: hsla(0, 0%, 59%, 0.24);
$trasparent-white-50: rgba(255, 255, 255, 0.5);
$trasparent-white-25: rgba(255, 255, 255, 0.25 );
$trasparent-white-20: rgba(255, 255, 255, 0.20 );
$hover-gray: #838391;
$mercury: #419EBB;
$venus: #EDA249 ;
$earth: #6D2ED5;
$mars: #D14C32;
$jupiter: #D83A34;
$saturn: #CD5120 ;
$uranus: #1EC1A2  ;
$neptune: #2D68F0;
