
.planet-card {

  &__nav {

    ul {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__main {

  }

  &__info {
    
  }
}

.planet-image-container {
  margin: 0 auto;
  height: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}