#border-0 {
  border-top-color: $mercury;
}

#border-1 {
  border-top-color: $venus;
}

#border-2 {
  border-top-color: $earth;
}

#border-3 {
  border-top-color: $mars;
}

#border-4 {
  border-top-color: $jupiter;
}

#border-5 {
  border-top-color: $saturn;
}

#border-6 {
  border-top-color: $uranus;
}

#border-7 {
  border-top-color: $neptune;
}

